table{
    border: 2px solid #e70d0d;
    border-collapse: collapse;
    width: 100%;
}

td, th{
    border: 1px solid #000
}

thead > tr > th{
    background-color: #000;
    color: #fff;
}

table > tbody > tr:hover{
    background-color: #aaa;
}

table > tbody > tr > td:last-of-type{
    align-items: center;
}

.teste:hover{
    font-weight: bold;
}

.botao {
    padding: 5px 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.bsucesso{
    border-color: #64ff64;
    background-color: #3dbd1d;
}

.bperigo{
    border-color: #64ff64;
    background-color: #ffaaff;
}

ul.primeiro-menu{
    width: 200px;
    background: #ddd;
    padding: 0;
}

ul.primeiro-menu > li{
    list-style-type: none;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}


ul.primeiro-menu li:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
    padding-left: 20px ;
}

ul.segundo-menu{
    width: 100%;
    padding: 0;
    background-color: #343434;
    color: #fff;
    text-align: right;
}

ul.segundo-menu > li{
    display: inline-block;
    padding: 5px 10px;
    box-sizing:border-box;
    border: 2px solid #343434;
    
}

ul.segundo-menu > li:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border-color: #fff;
    border-bottom-color: #ff6464 ;
}